/* Design by jason.leung, QQ,147430218, 新浪微博,@切片面包 */
* {margin:0px; padding:0px; font-family:'Arial';}
#box {width:130px;   background:#000; position:fixed; top:100px; right:-130px; border-radius:5px 0 0 5px; -webkit-box-shadow:2px 0 5px #333; -moz-box-shadow:2px 0 5px #333; box-shadow:2px 0 5px #333;

 filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;
}

.title{width:30px;height:160px;position: absolute;left:-30px;background:#000;top:150px;color:white;line-height:25px;text-align: center;vertical-align: middle;border-radius:5px 0 0 5px;cursor: pointer;}
.info *{vertical-align:middle;}
.info{color:#fff;  height:25px;  display:block;margin:10px;text-shadow:0 0 5px #333;-webkit-text-shadow:0 0 5px #333;-moz-text-shadow:0 0 5px #333;font-size:16px;border-bottom:1px dashed #333;}
.info a{color:#fff;font-size: 14px; text-decoration:none; }
.info img{border-radius:5px 5px 5px 5px;}
.qq{margin:10px;list-style:none;}
.txt{color:#fff;width:auto;height:25px;display: block;font-size: 12px;float:left;line-height:25px;-webkit-text-shadow:0 0 5px #ccc;-moz-text-shadow:0 0 5px #ccc;text-shadow: 0 0 5px #ccc;}
.csimg{width:200px;height:124px;position: absolute;left:0px;top:-124px;}
.active{background:#ff6600;}

.return{width:40px;height:25px;position: fixed;left:0px;background:#000;top:5px;color:white;line-height:25px;text-align: center;vertical-align: middle;border-radius:0 5px 5px 0;cursor: pointer; font-size:14px;

 filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;

}
.return a{color:#fff;font-size: 14px; text-decoration:none;}
