<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	 <select id="shadowsocks_mode" name="shadowsocks_mode" class="input">
                                                        <option value="0" <% nvram_match_x("", "shadowsocks_mode", "0","selected"); %>>global mode</option>
                                                        <option value="1" <% nvram_match_x("", "shadowsocks_mode", "1","selected"); %>>gfwlist mode</option>
                                                        <option value="2" <% nvram_match_x("", "shadowsocks_mode", "2","selected"); %>>chnroute mode</option>
 </select>
  <tr>
                                                <th colspan="3" style="background-color: #E3E3E3;">GoogleFu Misc Config</th>
                                            </tr>
                                            <tr id="gfwlist_url_tr">
                                                <th>Gfwlist Update Url:</th>
                                                <td>
                                                    <input type="text" maxlength="256" class="input" size="60"
                                                           name="shadowsocks_gfwlist_url" value="<% nvram_get_x("","shadowsocks_gfwlist_url");
                                                    %>" onKeyPress="return is_string(this,event);" />
                                                </td>
                                                <td>
                                                    <button id="update_gfwlist" type="button" class="btn btn-info">Update</button>
                                                    &nbsp;<button id="view_gfwlist" type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#view_gfwlist_modal" data-api-url="/update.cgi?output=nvram_dump&arg1=&arg0=sslibev.gfwlist.conf">View</button>
                                                </td>
                                            </tr>
                                            <tr id="custom_gfwlist_rules_tr" style="display: none;">
                                                <td colspan="3">
                                                    <span class="icon-hand-right"></span>
                                                    <a href="javascript:spoiler_toggle('spoiler_custom_rules')"><span>Custom Gfwlist Rules:</span></a>
                                                    <div id="spoiler_custom_rules" style="display:none;">
                                                        <textarea rows="8" wrap="off" spellcheck="false" maxlength="1024" class="span10" name="sslibev.custom_rules.txt" style="font-family:'Courier New'; font-size:12px;"><% nvram_dump("sslibev.custom_rules.txt",""); %></textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="chnroutelist_url_tr">
                                                <th>Chnroute Update Url:</th>
                                                <td>
                                                    <input type="text" maxlength="256" class="input" size="60"
                                                           name="shadowsocks_chnroutelist_url" value="<% nvram_get_x("","shadowsocks_chnroutelist_url");
                                                    %>" onKeyPress="return is_string(this,event);" />
                                                </td>
                                                <td>
                                                    <button id="update_chnroutelist" type="button" class="btn btn-info">Update</button>
                                                </td>
                                            </tr>
 <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
 <script>
    (function($) {
        //wait document ready
        $(function() {
        
        
              $('#update_chnroutelist').click(function () {
                $('#update_chnroutelist').addClass('disabled');
                $('#update_chnroutelist').text('Updating...');
                $.ajax({
                    type: 'get',
                    timeout: 10000,
                    url: '/update.cgi?output=json_update_list&arg0=2',
                    dataType: 'json',
                    cache: true,
                    error: function (xhr) {
                        info = '<div class="alert alert-danger"><strong><span class="icon-warning-sign"></span>Error:</strong> Failed to check for updates. Request timeout.</div>';
                        $('#show_message').html(info);
                        $('#show_message').css('display', 'block');
                    },
                    success: function (response) {
                        $('#update_chnroutelist').removeClass('disabled');
                        $('#update_chnroutelist').text('Update');
                        if (response.error == 1) {
                            $('#show_message').html('<div class="alert alert-danger"><strong>Error:</strong> failed to update chnroute list!</div>');
                        } else {
                            $('#show_message').html('<div class="alert alert-success"><strong>Alert:</strong> chnroute list has been successfully updated-_-</div>');
                        }
                        $('#show_message').css('display', 'block');
                    }
                });
            });

            //mode change
            $('#shadowsocks_mode').change(function(){
                var sel = parseInt($('#shadowsocks_mode').val());
                console.log(sel);

                switch (sel) {
                    //global mode
                    case 0:
                            $('#gfwlist_url_tr').hide();
                            $('#custom_gfwlist_rules_tr').hide();
                            $('#chnroutelist_url_tr').hide();
                            $('#chnroute_force_tun_tr').hide();
//                            $('#smartdns_log_verbose_tr').hide();
                        break;
                    //gfwlist mode
                    case 1:
                            $('#gfwlist_url_tr').show();
                            $('#custom_gfwlist_rules_tr').show();
                            $('#chnroutelist_url_tr').hide();
                            $('#chnroute_force_tun_tr').hide();
//                            $('#smartdns_log_verbose_tr').hide();
                        break;
                    //chnroute mode
                    case 2:
                            $('#gfwlist_url_tr').hide();
                            $('#custom_gfwlist_rules_tr').hide();
                            $('#chnroutelist_url_tr').show();
                            $('#chnroute_force_tun_tr').show();
//                            $('#smartdns_log_verbose_tr').show();
                        break;
                }
            });
            $('#shadowsocks_mode').trigger('change');

 		});
    })(jQuery);
</script>
</body>
</html>